.mainContainer {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  gap: 1rem;
  box-sizing: border-box;
}

.bottomContainer {
  width: 80%;
  max-width: 700rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: stretch;
  align-self: center;
  gap: 1rem;
}
